{% extends 'base.html' %}
{% block content %}

<div class="form-group w-50" style="margin-left: 25%; margin-top: 50px;">

  <form action="" method="POST">
    {% csrf_token %}
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label> Name of the competition </label>
        {{ form.name }}
        </div>

      <div class="form-group col-md-6">
        <label> Amount of races </label>
        {{ form.races }}
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label> What type of competition </label>
        {{ form.type }}
       </div>

      <div class="form-group col-md-6">
        <label> Drivers </label>
        {{ form.drivers }}
      </div>

    </div>
     

    <input type="submit" class="btn btn-primary mt-4 mb-2 " name="Submit">
  </form>
 
</div>

{% endblock %}