{% extends 'base.html' %}
{% block content %}

<div class="form-group w-50" style="margin-left: 25%; margin-top: 50px;">

  <form action="" method="POST">
    {% csrf_token %}
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label> Country </label>
        {{ form.country }}
        </div>

      <div class="form-group col-md-6">
        <label> length </label>
        {{ form.length }}
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label> Rounds </label>
        {{ form.rounds }}       
       </div>

      <div class="form-group col-md-6">
        <label> Drivers </label>
        {{ form.drivers }}
      </div>

    </div>
     

    <input type="submit" class="btn btn-primary mt-4 mb-2 " name="Submit">
  </form>
 
</div>

{% endblock %}