{% extends 'base.html' %}

{% block content %}
<div class="form-group w-50" style="margin-left: 25%; margin-top: 50px;">
  {% if form.errors %}
  <p> There was an error with one of the fields<p>
    {% endif %}
  <h1> Register </h1>
<br/><br/>
<form action="", method=POST>
  
  {% csrf_token %}

    <div class="form-group col-md-6">
      <label> Name </label>
      <p />

      {{ form.username }}
      </div>

    <div class="form-group col-md-6">
      <label> Email </label>
      <p />

      {{ form.email }}
    </div>

    <div class="form-group col-md-6">
      <label> Password </label>
      <p />

      {{ form.password1 }}
    </div>
    <div class="form-group col-md-6">
      <label> Password Check </label>
      <p />
      {{ form.password2 }}
    </div>


  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>

<br/><br/>
</div>
{% endblock %}
